.banner{
    height: 480px;
    background-image:url(../images/index1.jpg);
    background-position: center;
    background-size: cover;
    @include media-breakpoint-up(md) {
    background-image:url(../images/index1.jpg);
    height: 870px;
    background-position: center;
    background-size: cover;

}
}