
  .custom-btn{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    
  }
  .custom-btn:hover{
    opacity: 0.8;
    color: #000;
    background-color: #fff;
  }
  
  .intro-img{
      width: 555px;
      height: 555px;
  }
  .custom-btn2{
    border: 2px solid #000;

  }
  .custom-btn2:hover{
    opacity: 0.8;
    color: #000;
    background-color: yellow;
  }
  .square-img{
      height: 680px;
    @include media-breakpoint-up(md) {
      height: 1080px;
  }
}
.card-header-img{
    @include media-breakpoint-up(md) {
        height: 540px;
       
    }
}
.card-cover{
    position: relative;
}
.card-cover::after {
    content: 'Sold out';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe{
    background-image: url(../images/index10.jpg);
    height: 600px;
    background-size: cover;
    background-position: center center;
    padding-top: 312px;
}


.shape-card img{
  width: 255px;
  height: 255px;
}
  

.login-img{
  height: auto;
  @include media-breakpoint-up(md) {
  object-fit: cover;
  object-position: center center;
  height: 730px;
}
}
